/* Chat Right */
.right-container {
    float: right;
    width: calc(100% - 325px);
    height: 95vh;
    display: table;
}

.right-container .content-container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.right-container .title {
    font-size: 2.25rem;
    font-weight: bold;
}